

.filterItem:hover{
    background-color: var(--color-grey-1);
    color: var(--color-grey-8); 
    cursor: pointer;  
}

.filterItem{
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    font-family: 'inter', sans-serif;
    cursor: pointer;
    color: var(--color-grey-2);
}


@media (min-width: 768px){
  
    .filterItem{
        font-size: 15px;
    }
    
}

